
body{
    font-family: 'Open Sans',sans-serif;
    
}

body,html{
    height:100%;
}
.menu{
    border: 1px solid red;
    width: 100%;
}.menu ul li{
    display: inline;
    padding: 1em;
    text-transform: uppercase;
    background: #ccc;
    color: black;
}.menu ul li:hover{
    background: #777;
    color: white;
}

.container{
    width: 100%;
    display: inline;
}.full{
    padding: 1em;
    width: 30%;
    height: 25%;
    display: inline-block;
}