body{
    background: rgb(70, 142, 236);
    font: normal 15px Arial;

}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.439);
}
div{
    text-align: center;
    padding: 8px;
}
footer{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}